:root{
    --main: #ff7f50;
    --varnning: #fa983a;
    --danger: #e55039;
    --main-trans-01: hsla(16, 100%, 66%, .1);
    --main-trans-02: hsla(16, 100%, 66%, .2);
    --main-trans-03: hsla(16, 100%, 66%, .3);
    --main-trans-04: hsla(16, 100%, 66%, .4);
    --main-trans-05: hsla(16, 100%, 66%, .5);
    --header: #2e2e2e;
    --text: #4e4e4e;
    --label: #6e6e6e;
    --border: #8f8f8f;
    --bg-light: #ddd;
    --space-big: 32px;
    --space-mid: 24px;
    --space-sm: 12px;
    --font-big: 16px;
    --font-mid: 14px;
    --font-sm: 12px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: var(--header);
    transition: .2s;
}
.mb-12{
    margin-bottom: var(--space-sm);
}
.mt-12{
    margin-top: var(--space-sm);
}
.mb-24{
    margin-bottom: var(--space-mid);
}
.mt-24{
    margin-top: var(--space-mid);
}
.mt-32{
    margin-top: var(--space-big);
}
.mb-32{
    margin-bottom: var(--space-big);
}
.p-32{
    padding: var(--space-big);
}
.p-24{
    padding: var(--space-mid);
}
.p-12{
    padding: var(--space-sm);
}
#side{
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: 240px;
    padding-top: 32px;
    /* background: #000; */
    z-index: 1000;
    border-right: 1px solid var(--bg-light);
}
.logo{
    position: relative;
    padding-left: 32px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.logo-image{
    width: 40px;
    height: 40px;
}
.logo-big{
    width: 80px;
    margin-right: var(--space-mid);
}
.logo i{
    margin-right: var(--space-sm);
    color: var(--main);
}
.logo a{
    margin-right: 60px;
}
.logo .fa-bars{
    color: var(--header);
    padding: 0;
    margin: 0;
    margin-right: 2px;
    display: none;
}
.fa-times{
    animation: rotation .3s ease-out;
}
@keyframes rotation {
    to{
        rotate: 180deg;
    }
}
.navbar{
    position: relative;
    margin-top: 120px;
}
.nav-link{
    position: relative;
    display: block;
    padding: 12px 0 12px 32px;
    font-size: var(--font-mid);
    font-weight: 700;
    width: 240px;
    display: flex;
    justify-content: start;
    /* background: #e0e0e0; */
}
.nav-link i{
    position: relative;
    width: 40px;
    /* background: #a52727; */
}
.nav-link p{
    position: relative;
    text-align: left;
    /* background: #000; */
}
.nav-active{
    background: var(--main);
    border-right: 4px solid var(--text);
}
.profile-info{
    position: relative;
    width: 100%;    /* background: #000; */
    padding: 24px;
}
.done{
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--text);
    font-weight: 500;
    padding-left: 24px;
    /* background: var(--main); */
}
.send{
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 12px; 
    background: var(--main);
    margin-bottom: 24px;
    border-radius: 3px;
}
.profile{
    position: relative;
    width: 100%;
    padding: 0 12px;
    /* background: #bfbfbf; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile p{
    font-size: var(--font-mid);
    position: relative;
    right: 20px;
    font-weight: 700;
}
.profile i{
    font-size: var(--font-mid);
}
.profile-img{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center 40%;
}
#home{
    position: relative;
    min-height: 100vh;
    width: calc(100vw - 240px);
    margin-left: auto;
    background: var(--main-trans-02);
}
.home-over{
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 105px);
    width: 60%;
    margin-left: auto;
    background: linear-gradient(var(--main-trans-01), var(--main-trans-03));
    filter: blur(100px);
}
.home-up{
    position: relative;
    width: 100%;
    display: flex;
}
.home-left{
    position: relative;
    height: calc(100vh - 105px);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}
.home-header{
    font-size: 40px;
    margin-bottom: var(--space-big);
    font-weight: 700;
}
.home-phar{
    font-size: var(--font-big);
    font-weight: 500;
    line-height: 24px;
    margin-bottom: var(--space-sm);
}
.btn-cont{
    background: transparent;
}

.home-right{
    position: relative;
    width: 60%;
    height: calc(100vh - 105px);
    padding: 80px;
}
.right-img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.home-down{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #ffffff;
    padding-top: var(--space-big);
    padding-bottom: var(--space-big);
}
.cont{
    position: relative;
    font-size: var(--font-mid);
    color: var(--text);
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.nike-cont{
    padding: var(--space-sm);
    background: var(--main-trans-03);
    border-radius: 50%;
    color: var(--main);
    margin-right: var(--space-sm);
}
.nike-cont i{
    color: var(--main);
}
.down-phar{
    font-weight: 500;
}
.label, label{
    font-size: var(--font-big);
    font-weight: 700;
    color: var(--label);
    margin-bottom: var(--space-sm);
}
.phar{
    font-size: var(--font-mid);
    font-weight: 500;
    color: var(--text);
}
.bold{
    font-weight: 700;
    margin-right: var(--space-mid);
    width: 300px;
}
.btn-cont{
    background: transparent;
}
.btn{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: var(--font-big);
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    color: var(--main);
    font-weight: 700;
    background: transparent;
}
.btn-color{
    background: var(--main);
    color: white;
}
.btn-warnning{
    background: var(--varnning);
    color: white;
    
}
.btn-danger{
    background: var(--danger);
    color: white;

}
.card-cont{
    padding: var(--space-mid);
}
.card{
    position: relative;
    background: #fff;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    margin-bottom: 32px;
}
.card-img{
    position: relative;
    height: 450px;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.reg-card-img{
    position: relative;
    height: 800px;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.new-card-img{
    position: relative;
    height: 1400px;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.new-card-img img{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
}
.card-img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reg-card-img img{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
}
.card-right{
    padding: var(--space-big);
    position: relative;
    height: 100%;
    width: 60%;
}
.card-top{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-big);
}
.card-header{
    font-size: var(--font-big);
    font-weight: 900;
}
.card-top i{
    font-size: 20px;
    color: var(--main);
}
.card-body{
    margin: 0;
    padding: 0;
    font-size: var(--font-sm);
    color: var(--label);
}
.form-group{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.label, label{
    font-size: var(--font-mid);
    margin-bottom: var(--space-sm);
    margin-bottom: 50px;
}
.input{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    border: none;
    outline: 2px solid #8e8e8e;
    font-size: var(--font-mid);
    padding-left: var(--space-sm);
    border-radius: 3px;
    margin-bottom: var(--space-mid);
}
input[type=checkbox]{
    display: inline-block;
    width: 18px;
    height: 18px;
}
#id_velicina, #id_boja{
    display: flex;
    gap: var(--space-mid);
    margin-bottom: var(--space-mid);
}
.password{
    margin-bottom: var(--space-big);
}
.message{
    padding: var(--space-mid);
    font-size: var(--font-mid);
    background: var(--main-trans-03);
    border-radius: 8px;
    margin-bottom: var(--space-mid);
}


/* Obuca */
.prod-card-cont{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-mid);
    padding: var(--space-mid);
}
.prod-card-cont .card{
    flex-direction: column;
    flex:1;
    position: relative;
    background: #fff;
    border-radius: 10px;
    /* overflow: hidden; */
    min-width: 150px;
    max-width: 350px;
    cursor: pointer;
    padding: 0;
    /* width: minmax(280px, 400px); */
}
.prod-card-cont .card:hover{
    scale: 1.07
}
.prod-card-cont .card-img-cont{
    position: relative;
    width: 100%;
    z-index: 100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: var(--space-mid);
}
.prod-card-cont .prod-image{
    object-fit: cover;
    max-height: 300px;
}
.prod-card-cont .card-right{
    padding: 0 24px 24px 24px;
    position: relative;
    width: 100%;
}
.prod-card-cont .card-top{
    position: relative;
    width: 100%;
    margin-bottom: var(--space-sm);
    text-align: center;
}
.prod-card-cont .card-header{
    font-size: var(--font-big);
    font-weight: 900;
    color: var(--header);
}
.prod-card-cont .card-body{
    margin: 0;
    padding: 0;
    text-align: left;
    padding-bottom: var(--space-sm);
}
.prod-card-cont .card-footer{
    position: relative;
    width: 100%;
    /* background: #000; */
    display: flex;
    flex: 1;
    gap: 4px;
    color: var(--text);
}
#card-datails{
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: row !important;
    flex: 1;
    padding: 80px 10vw ;
    background: #fff;
}
#card-datails > .card-left {
    flex: 1;
    padding: var(--space-big);
}
#card-datails > .card-right {
    flex: 1;
}
#card-datails .card-header{
    font-size: 60px;
    color: var(--main);
}
#card-datails .phar{
    font-size: var(--font-big);
    border-bottom: 1px solid var(--bg-light);
    padding-bottom: var(--space-sm);
}
.span{
    padding: 8px 16px;
    background: var(--main-trans-03);
    border-radius: 6px;
    margin-right: var(--space-sm);
    color: var(--text);
}
.cena-cont{
    font-size: 32px;
    margin-bottom: var(--space-big);
}
.cena-span{
    margin-right: var(--space-sm);
}
.cena{
    color: var(--main);
}
.detail-img-cont{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
img.img-detail{
    grid-row: span 2;
    width: 100%;
}
img.img-detail-1{
    grid-row: 1 / 2 !important;
    grid-column: 1 / 7 !important;
    /* width: 100%; */
}

.footer-left, .loc, .settings{
    border: 1px solid var(--bg-light);
    padding: 8px;
    border-radius: 3px;
}
.footer-left{
    padding-right: auto;
    flex: 1;
}
/* Obuca */
@media (width <= 1200px) {
    .map{
        width: 0;
    }
    #home{
    width: calc(100vw - 240px);
    margin-right: 0;
    }
    .home-down{
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 0;
    }
}
/* Large devices (desktops, 992px and up) */
@media (width <= 992px) {
    .home-up{
        flex-direction: column-reverse;
    }
    .home-left{
        width: 100%;
        /* height: calc(100vh - 105px); */
        height: 110vh;
        padding-left: 24px;
    }
    .home-right{
        width: 100%;
        height: calc(100vh - 105px);
        height: 40vh;
        padding: 0;
    }
    .right-img{
        border-radius: 0;
    }
    .home-down{
        grid-template-columns: repeat(3, 1fr);
    }
    #home-over{
        position: absolute;
        bottom: 0 !important;
        right: 0;
        left: 0;
        /* height: calc(100vh - 105px); */
        height: 50%;
        width: 100%;
        margin-left: auto;
        background: linear-gradient(var(--main-trans-01), var(--main-trans-03));
        background: transparent;
        filter: blur(10px);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (width <= 768px) {
    #side{
        /* position: absolute; */
        left: -200px;
    }    
    .nav-link{
        width: 200px;
    }
    #logo .fa-bars{
        display: block;
        margin-right: 12px;
        margin-left: auto;
        padding: 0;
    }
    #home{
        width: calc(100% - 40px);
        margin-left: 40px;
    }
    #side.active{
        left: 0;
    }
    #side.active .nav-link{
        width: 240px;
    }
    #side.active .logo p{
        margin-right: 0;
    }
    #side.active .logo .fa{
        margin-right: 24px;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (width <= 576px) {
    .home-down{
        grid-template-columns: repeat(1, 1fr);
    }
    .cont{
        padding-left: 24px;
        /* width: 100%;
        align-items: center;
        justify-content: center; */
    }
}