:root{
    --main: #4a69bd;
    --varnning: #fa983a;
    --danger: #e55039;
    --main-trans-01: hsla(224, 47%, 52%, .1);
    --main-trans-02: hsla(224, 47%, 52%, .2);
    --main-trans-03: hsla(224, 47%, 52%, 0.3);
    --main-trans-04: hsla(224, 47%, 52%, 0.4);
    --main-trans-05: hsla(224, 47%, 52%, 0.5);
    --header: #2e2e2e;
    --text: #4e4e4e;
    --label: #6e6e6e;
    --border: #8f8f8f;
    --bg-light: #ddd;
    --space-big: 32px;
    --space-mid: 24px;
    --space-sm: 12px;
    --font-big: 16px;
    --font-mid: 14px;
    --font-sm: 12px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: var(--header);
    transition: .2s;
}
.mb-12{
    margin-bottom: var(--space-sm);
}
.mt-12{
    margin-top: var(--space-sm);
}
.mb-24{
    margin-bottom: var(--space-mid);
}
.mt-24{
    margin-top: var(--space-mid);
}
.mt-32{
    margin-top: var(--space-big);
}
.mb-32{
    margin-bottom: var(--space-big);
}
.p-32{
    padding: var(--space-big);
}
.p-24{
    padding: var(--space-mid);
}
.p-12{
    padding: var(--space-sm);
}
#side{
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: 240px;
    padding-top: 32px;
    /* background: #000; */
    z-index: 1000;
}
.logo{
    position: relative;
    padding-left: 32px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.logo i{
    margin-right: var(--space-sm);
    color: var(--main);
}
.logo a{
    margin-right: 60px;
}
.logo .fa-bars{
    color: var(--header);
    padding: 0;
    margin: 0;
    margin-right: 2px;
    display: none;
}
.fa-times{
    animation: rotation .3s ease-out;
}
@keyframes rotation {
    to{
        rotate: 180deg;
    }
}
.navbar{
    position: relative;
    margin-top: 120px;
}
.nav-link{
    position: relative;
    display: block;
    padding: 12px 0 12px 32px;
    font-size: var(--font-mid);
    font-weight: 700;
    width: 240px;
    display: flex;
    justify-content: start;
    /* background: #e0e0e0; */
}
.nav-link i{
    position: relative;
    width: 40px;
    /* background: #a52727; */
}
.nav-link p{
    position: relative;
    text-align: left;
    /* background: #000; */
}
.nav-active{
    background: var(--main);
    border-right: 4px solid var(--text);
}
.profile-info{
    position: relative;
    width: 100%;    /* background: #000; */
    padding: 24px;
}
.done{
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--text);
    font-weight: 500;
    padding-left: 24px;
    /* background: var(--main); */
}
.send{
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 12px; 
    background: var(--main);
    margin-bottom: 24px;
    border-radius: 3px;
}
.profile{
    position: relative;
    width: 100%;
    padding: 0 12px;
    /* background: #bfbfbf; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile p{
    font-size: var(--font-mid);
    position: relative;
    right: 20px;
    font-weight: 700;
}
.profile i{
    font-size: var(--font-mid);
}
.profile-img{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center 40%;
}
#home{
    position: relative;
    min-height: 100vh;
    width: calc(100vw - 240px);
    margin-left: auto;
    background: var(--main-trans-02);
}
.home-over{
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 105px);
    width: 60%;
    margin-left: auto;
    background: linear-gradient(var(--main-trans-01), var(--main-trans-03));
    filter: blur(100px);
}
.home-up{
    position: relative;
    width: 100%;
    display: flex;
}
.home-left{
    position: relative;
    height: calc(100vh - 105px);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}
.home-header{
    font-size: 40px;
    margin-bottom: var(--space-big);
    font-weight: 700;
}
.home-phar{
    font-size: var(--font-big);
    font-weight: 500;
    line-height: 24px;
    margin-bottom: var(--space-sm);
}
.btn-cont{
    background: transparent;
}

.home-right{
    position: relative;
    width: 60%;
    height: calc(100vh - 105px);
    padding: 80px;
}
.right-img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.home-down{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #ffffff;
    padding-top: var(--space-big);
    padding-bottom: var(--space-big);
}
.cont{
    position: relative;
    font-size: var(--font-mid);
    color: var(--text);
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.nike-cont{
    padding: var(--space-sm);
    background: var(--main-trans-03);
    border-radius: 50%;
    color: var(--main);
    margin-right: var(--space-sm);
}
.nike-cont i{
    color: var(--main);
}
.down-phar{
    font-weight: 500;
}
.label{
    font-size: var(--font-big);
    font-weight: 700;
    color: var(--label);
}
.phar{
    font-size: var(--font-mid);
    font-weight: 500;
    color: var(--text);
}
.bold{
    font-weight: 700;
    margin-right: var(--space-mid);
    width: 300px;
}
.btn-cont{
    background: transparent;
}
.btn{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: var(--font-big);
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    color: var(--main);
    font-weight: 700;
    background: transparent;
}
.btn-color{
    background: var(--main);
    color: white;
}
.btn-warnning{
    background: var(--varnning);
    color: white;
    
}
.btn-danger{
    background: var(--danger);
    color: white;

}
.card-cont{
    padding: var(--space-mid);
}
.card{
    position: relative;
    background: #fff;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    margin-bottom: 32px;
}
.card-img{
    position: relative;
    height: 450px;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.reg-card-img{
    position: relative;
    height: 800px;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reg-card-img img{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
}
.card-right{
    padding: var(--space-big);
    position: relative;
    height: 100%;
    width: 60%;
}
.card-top{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-big);
}
.card-header{
    font-size: var(--font-big);
    font-weight: 900;
}
.card-top i{
    font-size: 20px;
    color: var(--main);
}
.card-body{
    margin: 0;
    padding: 0;
    font-size: var(--font-sm);
    color: var(--label);
}
.form-group{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.label, label{
    font-size: var(--font-mid);
    margin-bottom: var(--space-sm);
}
.input{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    border: none;
    outline: 2px solid #8e8e8e;
    font-size: var(--font-mid);
    padding-left: var(--space-sm);
    border-radius: 3px;
    margin-bottom: var(--space-mid);
}
.password{
    margin-bottom: var(--space-big);
}
.message{
    padding: var(--space-mid);
    font-size: var(--font-mid);
    background: var(--main-trans-03);
    border-radius: 8px;
    margin-bottom: var(--space-mid);
}
/* Records */
.r-card-cont{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-sm);
    margin-top: 30px;
    padding: var(--space-mid);
}
.r-card{
    position: relative;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: var(--space-mid);
}
.r-card-top{
    position: relative;
    width: 100%;
    margin-bottom: var(--space-mid);
    text-align: center;
}
.r-card-body{
    margin: 0;
    padding: 0;
}
.r-card-footer{
    position: relative;
    width: 100%;
    /* background: #000; */
    display: flex;
    flex: 1;
    gap: 4px;
    color: var(--text);
}
.r-footer-left, .loc, .settings{
    border: 1px solid var(--bg-light);
    padding: 8px;
    border-radius: 3px;
}
.r-footer-left{
    padding-right: auto;
    flex: 1;
}
/* Records */