{% extends "base.html" %}
{% load static %}

{% block body %}
    {% if messages%}
    <div class="card-cont">
        {% for m in messages %}
        <div class="message">{{ m }}</div>
        {% endfor %}
    </div>
    {% endif %}
<!-- Main -->
    <!-- Card -->
    <div id="card-datails" class="card-details">
        <div class="card-left">
            <!-- Slike -->
            <div class="detail-img-cont" style="display: grid; grid-template-columns: repeat(6, 1fr);">
                {% for slika in slike %}
                <img class="img-detail img-detail-{{ forloop.counter }}" src="{{ slika.slika.url }}" alt="Shoe Image" style="grid-column: span 2;">
                {% endfor %}
            </div>
            <!-- Slike -->
        </div>
        <div class="card-right">
            <div class="card-top">
                <h2 class="card-header">
                    {{ obuca.naziv }}
                </h2>
            </div>
        <div class="card-body">
            <p class="phar big mb-12"><span class="bold">Marka:</span>{{ obuca.marka }}</p>
            <p class="phar mb-12"><span class="bold">Dostupne Boje:</span>
                {% for boja in obuca.boja.all %}
                    <span class="span">{{ boja }}</span>{% if not forloop.last %} {% endif %}
                {% endfor %}
            </p>
            <p class="phar mb-12"><span class="bold">Dostupne Velicine:</span>
                {% for velicina in obuca.velicina.all %}
                <span class="span">{{ velicina }}</span>{% if not forloop.last %} {% endif %}
                {% endfor %}
            </p>
            <p class="phar opis mb-12"><span class="bold">Opis:</span>{{ obuca.opis }}</p>
            <div class="cena-cont"><span class="cena-span">Cena:</span><span class="cena bold">{{ obuca.cena }}€</span></div>
            <p class="phar opis"><span class="bold">Nacin kupovine:</span>Na 060 000 000 poslati: Ime i Prezime, Adresu, Broj telefona i Sifru proizvoda ili Pozvati Na telefon Od 08:00 - 16:00 radnim danom<br>Robu saljemo D Expressom</p>
            <button class="btn btn-color mt-24">Dodaj u Korpu <i class="fa-solid fa-cart-plus" style="color: #fff;"></i></button>
            {% if user.is_superuser %}
            <a href="{% url 'obrisi_obucu' obuca.pk %}" class="btn btn-danger mt-12 mb-12"  onclick="return confirm('Jesi li siguran');">Obrisi Artikal</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Card -->
<!-- Main -->
{% endblock %}