{% extends "base.html" %}
{% load static %}

{% block body %}
    {% if messages%}
    <div class="card-cont">
        {% for m in messages %}
        <div class="message">{{ m }}</div>
        {% endfor %}
    </div>
    {% endif %}
<!-- Main -->
<div class="prod-card-cont">
    <!-- Card -->
    <div class="card">
        <div class="card-img-cont">
            <img src="{{ obuca.glavnaSlika.url }}" alt="" class="prod-image">
        </div>
        <div class="card-right">
            
            <div class="card-top">
                <h2 class="card-header">
                    {{ obuca.naziv }}
                </h2>
            </div>
        <div class="card-body">
            <p class="phar big mb-12"><span class="bold">Marka:</span>{{ obuca.marka }}</p>
            <p class="phar mb-12"><span class="bold">Boja:</span>{{ obuca.boja }}</p>
            <p class="phar mb-12"><span class="bold">Slike:</span>{{ obuca.slike }}</p>
            <!-- Slike -->
            {% if obuca.slike.all %}
            <div class="image-container">
                {% for slika in obuca.slike.all %}
                {{ slika }}
                <img src="{{ slika.slika.url }}" alt="Shoe Image">
                <p class="phar mb-12"><span class="bold">Slike:</span>{{ slika.slika.url }}</p>
        {% endfor %}
    </div>
{% else %}
    <p>No images available</p>
{% endif %}
            <!-- Slike -->
        </div>
        <div class="card-footer">
            <div class="footer-left">
                {{ obuca.cena }}€
            </div>
            <div class="loc"><i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="settings"><i class="fa-solid fa-gear"></i>
            </div>
        </div>
    </div>
</div>
<!-- Card -->

</div>
<!-- Main -->
{% endblock %}