{% extends "base.html" %}
{% load static %}

{% block body %}
    {% if messages%}
    <div class="card-cont">
        {% for m in messages %}
        <div class="message">{{ m }}</div>
        {% endfor %}
    </div>
    {% endif %}
<!-- Main -->
    <div class="home-up">

        <div id="home-over" class="home-over"></div>
        <div class="home-left">
            <h1 class="home-header">Dusic<br>Customer Relation Menagement</h1>
            <p class="home-phar">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi consequuntur officiis, dolores quod aliquam aliquid animi fuga perferendis. Voluptatibus, molestiae?</p>
            <div class="btn-cont">
                <button class="btn btn-color">Contact Us</button>
                <button class="btn see-offer">See our Offer</button>
            </div>
    </div>
    <div class="home-right">
        <img src="{% static 'images/img-1.png' %}" alt="" class="right-img">
    </div>
</div>
<div class="home-down">
    <div class="cont">
        <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <p class="down-phar">Lorem ipsum dolor<br>sit amet consectetur.</p>
    </div>
    <div class="cont">
        <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <p class="down-phar">Lorem ipsum dolor<br>sit amet consectetur.</p>
    </div>
    <div class="cont">
        <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <p class="down-phar">Lorem ipsum dolor<br>sit amet consectetur.</p>
    </div>
    <div class="cont">
        <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <p class="down-phar">Lorem ipsum dolor<br>sit amet consectetur.</p>
    </div>
    <div class="cont">
        <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <p class="down-phar">Lorem ipsum dolor<br>sit amet consectetur.</p>
    </div>
</div>
<!-- Main -->
{% endblock %}